.login-form{
    width: 30%;
    height: 50%;
    margin-top: 15%;
    margin-left: 35%;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: bold;
    background: #F5F5F5;
}

.form{
    text-align: start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.login{
    font-size: 3.5vh;
    text-align: start;
    margin-left: 10%;
    margin-top: 8%;
}

.password{
    width: 80%;
    margin-top: 5%;
}
.email{
    width: 80%;
}


.email-input{
    width: 75%;
    height: 3vh;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #F5F5F5;
}
.password-input{
    width: 75%;
    height: 3vh;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #F5F5F5;
}
.submit{
    margin-top: 5%;
    height: 3vh;
    width: 5vw;
    border-radius: 5px;
    border: none;
    color: #FFF;
    background: #000;
}
.last{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 500;
}
